<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Night Of: An Organizer</title>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/ng-sortable/dist/ng-sortable.min.css">
    <link rel="stylesheet" type="text/css" href="/ng-sortable/dist/ng-sortable.style.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-fullscreen/src/angular-fullscreen.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/aws-sdk-js/dist/aws-sdk.min.js"></script>
    <script src="/ng-file-upload/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/main.js"></script>
    <script type="text/javascript" src="/ng-sortable/dist/ng-sortable.js"></script>
 
</head>
<body ng-app="FullstackGeneratedApp" ng-controller="FullscreenCtrl">
    <navbar ng-hide="isFullscreen"></navbar>
    <div ng-class="isFullscreen ? '' : 'container'" id="primary-ui-view" ui-view></div>
</body>
</html>