#home {
  text-align: center;

  .main-heading {

  }
  h1 {

    color: #701586;
    //border: 10px double #858ea3;
    //border-radius: 10px;
    //height: 25vh;
    //background: #221C25;

  }

  .sign-log{
    text-wrap: none;
    display: inline-block;
    color: #858ea3;
    font-size: 1.3em;
    cursor: default;
    background-color: #221C25;
    border-radius: 4px;
    margin: 2% 2%;
    min-width: 15%;
    padding: 2% 2%;
  }
}
