#home {
  text-align: center;

  .main-heading {

  }
  h1 {

    color: #701586;
    font-weight: bold;
    font-size: 4em;

  }

  .sign-log{
    text-wrap: none;
    display: inline-block;
    color: #d1e3fd;
    font-size: 1.3em;
    cursor: default;
    background-color: #221C25;
    border-radius: 4px;
    margin: 2% 2%;
    min-width: 15%;
    padding: 2% 2%;
  }
}
