#home {
  text-align: center;
  h1 {
    color: #701586;
  }

  button {
    background-color: #BBF082;
    color: #701586;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sign-log{
    display: inline-block;
    color: #701586;
    font-size: 1.4em;
    cursor: default;
    background-color: #e9b6f6;
    border: groove #701586 1px;
    border-radius: 4px;
    margin: 2% auto;
    width: 15%;
    padding: 2% 0;
  }
}
