<!-- Added By Evan (below) -->
 <a ng-click="goToLocales()">Return to My Locales</a>
 <h3>Conference Name: {{currentConf.name}}</h3>
 <h3>Conference Id: {{currentConf._id}}</h3>
<!-- Added By Evan (above) -->

<ul class="list-unstyled">
	<li ng-repeat="conference in conferences">
		<a ng-click="retrievePresentations(conference._id, conference.name)">
			{{conference.name}}
		</a>
	</li>
</ul>

<div ng-if="conferencePresentations">
	<div class="row" id="admin-dashboard">
		<!-- view title -->
		<div class="col-md-12">
			<h1 class="text-center">Managing {{currentPresentationTitle}}</h1>
		</div>

		<!-- timeline column -->
		<div class="col-md-6">
			<h2>Timeline <button class="btn" ng-click="saveTimeLine()">Save</button></h2>
			<ul as-sortable ng-model="timeLine">
				<li ng-repeat="timeLineItem in timeLine" as-sortable-item>
					<div as-sortable-item-handle>
						<span ng-if="!timeLineItem.presentation">{{timeLineItem.title}}</span>
						<span ng-if="timeLineItem.presentation">{{timeLineItem.presentation.title+" by "+timeLineItem.presentation.presenter.name}}</span>
						<a data-no-drag ng-click="removeCard($index)">
								<span class="glyphicon glyphicon-remove"></span>
						</a>
					</div>
				</li>
			</ul>
			
		</div>

		<!-- editing and preview column -->
		<div class="col-md-6">
			<div id="presentation-items">
				<h2>Presentations</h2>
				<ul as-sortable="conferenceOptions" ng-model="conferencePresentations">
					<li ng-repeat="presentation in conferencePresentations" as-sortable-item>
						<div as-sortable-item-handle>
							{{presentation.presentation.title+" by "+presentation.presentation.presenter.name}}
						</div>
					</li>
				</ul>
			</div>

			<div id="control-items">
				<h2>Control Items</h2>
				<ul as-sortable="controlItemOptions" ng-model="controlItems">
					<li ng-repeat="controlItem in controlItems" as-sortable-item>
						<div as-sortable-item-handle>
							{{controlItem.title}}
						</div>
					</li>
				</ul>
			</div>

			<div id="projector-preview" ng-controller="ProjectorCtrl">
				<h2>Projector mode 
					<button ng-click="playToggle()" class="btn" ng-class="playing ? '' : 'btn-success'">{{ playButtonText }}</button>
				</h2>

				<div class="row">

					<!-- Current slide -->
					<div class="col-md-6">
						<h3>Current</h3>		
					    <img 	ng-repeat="slide in currentTimelineFlat" 
					         	ng-show="isCurrentSlideIndex($index)" 
					         	ng-src="{{slide.url}}">
					</div>

					<!-- Next slide -->
					<div class="col-md-6">
						<h3>Next</h3>
						<img 	ng-repeat="slide in currentTimelineFlat" 
					         	ng-show="isNextSlideIndex($index)" 
					         	ng-src="{{slide.url}}">
					</div>
				</div>
			</div>
		</div> <!-- end editing and preview column -->
	</div> <!-- end #admin-dashboard row -->
</div>
