<a ng-click="goToLocales()"><i class="fa fa-chevron-left"></i> Return to My Locales</a>

<div ng-if="conferencePresentations">
	<div class="row" id="admin-dashboard">
		<!-- view confInfo mode -->
		<div ng-if="!editingInfo" class="col-md-12">
			<h1 class="text-center">Managing {{currentConf.name}} <i ng-click="editConfInfo()" class="fa fa-pencil" id="conference-edit-icon"></i></h1>

			<div class="row text-center">

				<div class="col-md-6">
					<i class="fa fa-calendar"></i> {{ currentConf.date | date:'MMM d, y'}}
				</div>
				<div class="col-md-6">
					<i class="fa fa-map-marker"></i> {{ currentConf.venue }}
				</div>

			</div>
			<hr>

		</div>

		<!-- edit mode -->
		<div ng-if="editingInfo" class="col-md-12">
			<h1 class="text-center">Managing <input ng-model="currentConf.name"> <i ng-click="updateConfInfo()" class="fa fa-floppy-o" id="conference-edit-icon"></i></h1>

 			<div class="row text-center">

				<div class="col-md-6">
					<i class="fa fa-calendar"></i> <input ng-model="currentConf.date" value="{{ currentConf.date | date:'MMM d, y h:mm'}}">
				</div>
				<div class="col-md-6">
					<i class="fa fa-map-marker"></i> <input ng-model="currentConf.venue" type="text" value="{{ currentConf.venue }}">
				</div>

			</div>
			<hr>
		</div>

		{{ currentConf.name }}
		{{ currentConf.date }}
		{{ currentConf.venue }}


		<!-- timeline column -->
		<div class="col-md-4">
			<h2>Timeline <button class="btn btn-primary pull-right" ng-click="saveTimeLine()"><i class="fa fa-floppy-o"></i></button></h2>
			<form name="timeline-form">
			<ul as-sortable ng-model="timeLine">
				<li ng-repeat="timeLineItem in timeLine" as-sortable-item>
					<div as-sortable-item-handle>
						<span ng-if="!timeLineItem.presentation">{{timeLineItem.title}}</span>
						<span ng-if="timeLineItem.presentation">{{timeLineItem.presentation.title+" by "+timeLineItem.presentation.presenter.name}}</span>
						<a data-no-drag ng-click="removeCard($index)">
								<span class="glyphicon glyphicon-remove"></span>
						</a>
					</div>
				</li>
			</ul>
			</form>
			
		</div>

		<!-- editing and preview column -->
		<div class="col-md-4">
			<div id="control-items">
				<h2>Timeline items</h2>
				<h3>Controls</h3>
				<ul as-sortable="controlItemOptions" ng-model="controlItems">
					<li style="display: inline" ng-repeat="controlItem in controlItems" as-sortable-item>
						<span as-sortable-item-handle>
							{{controlItem.title}}
						</span>
					</li>
				</ul>
			</div>

			<div id="presentation-items">
				<h3>Presentations</h3>
				<ul as-sortable="conferenceOptions" ng-model="conferencePresentations">
					<li ng-repeat="presentation in conferencePresentations" as-sortable-item>
						<div as-sortable-item-handle>
							{{presentation.presentation.title+" by "+presentation.presentation.presenter.name}}
						</div>
					</li>
				</ul>
			</div>

		</div> <!-- end editing and preview column -->

		<div class="col-md-4">
			<div id="projector-preview" ng-controller="ProjectorCtrl">
				<h2>Projector mode 
					<div class="btn-group pull-right" role="group" aria-label="...">
						<button ng-click="playToggle()" class="btn" ng-class="playing ? '' : 'btn-success'">
							<i ng-class="playing ? 'fa fa-pause' : 'fa fa-play'"></i>
						</button>
						<a class="btn btn-default" target="_blank" ui-sref="projector({id: currentConf._id })">
							<i class="fa fa-video-camera"></i>
						</a>
					</div>
				</h2>

				<div class="row">

					<!-- Current slide -->
					<div class="col-md-6">
						<h3>Current</h3>

					    <img 	ng-repeat="slide in currentTimelineFlat" 
					         	ng-show="isCurrentSlideIndex($index)" 
					         	ng-src="{{slide.url}}">
					</div>

					<!-- Next slide -->
					<div class="col-md-6">
						<h3>Next</h3>
						<img 	ng-repeat="slide in currentTimelineFlat" 
					         	ng-show="isNextSlideIndex($index)" 
					         	ng-src="{{slide.url}}">
					</div>
				</div>
			</div>
		</div>
	</div> <!-- end #admin-dashboard row -->
</div>