<div class="row">
	<div class="col-md-6">
		<h2>My Locales</h2>
		<div ng-repeat="locale in locales">
			<h3>
				<a ng-click="loadConferences(locale._id)">{{locale.name}}</a>
				<button class="btn btn-sm"><i class="fa fa-plus"></i></button>
			</h3>
			
			<div><strong>Description:</strong> {{locale.description}}</div>
			<div><strong>Organizers:</strong>
				<span ng-repeat="organizer in locale.organizers">
					{{organizer.name}}<span ng-show="!$last">, </span>
				</span>
			</div>
		</div>
	</div>

	<div class="col-md-6" ng-if="conferences">
		<h2>Conferences for locale</h2>
		<ul class="list-unstyled">
			<li ng-repeat="conference in conferences">
				<a ng-click="goToAdmin(conference._id, conference.name)">{{conference.name}}</a>, 
				<i>{{ conference.date | date:'medium' }} @ {{ conference.venue }}</i>
			<!-- 	<div>{{conference.timeline[0]}}</div> -->
			</li>
		</ul>
	</div>
</div>

<!-- 

default message for non-organizers
cleanup

 -->