navbar {
  display: block;
  background: #e9b6f6;

  night-of {
    font-size: 2.5em;
    color: #701586;
    i {
      margin-top: 8px;
    }
  }
  .nav > li > a {
    color: white;
    cursor: pointer;
    transition: color 0.4s, background-color 0.4s;
    &.active {
      color: #346715;
    }
    &:hover {
      color: #701586;
      background-color: #D8A5E5;
    }
    &:focus {
      color: #346715;
      background: transparent;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }

  .logout {
    float: right;
    margin-top: 8px;
    color: #701586;
    a {
      color: #701586;
      cursor: pointer;
    }
  }

}