navbar {
  display: block;
  background: #221C25;
  border-bottom: -1px;
  night-of {
    font-size: 2.5em;
    color: #96a1c0;
    i {
      margin-top: 8px;
    }
  }
  #hamburger {
    padding: 0;
    margin: 10px 15px 0 0;
  }
  .fa-bars {
    color: #d1e3fd;
  }
  .nav > li > a {
    color: #d1e3fd;
    cursor: pointer;
    margin: auto 0;
    transition: color 0.4s, background-color 0.4s;
    &.active {
      color: #54725b;
    }
    &:hover {
      color: #0c190c;
      background-color: #5a4b61;
      border-bottom: 1px solid #5a4b61;
    }
    &:focus {
      color: #54725b;
      background: transparent;
    }
    &:first-child {
      //margin-left: 2%;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }

  .logout {
    float: right;
    margin-top: 8px;
    color: #96a1c0;
    a {
      color: #96a1c0;
      cursor: pointer;
    }
  }

}