#uploads {
  .drop-box {
    margin: 0 auto;
    color: #701586;
    background: #E6F7D5;
    border: 5px double #221C25;
    min-height: 20vh;
    text-align: center;
    border-radius: 10px;
    cursor: copy;
    box-shadow: -1px 1px 4px black;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .dragover {
    border: 4px dashed #221C25;
  }

}
