#uploads {
  .drop-box {
    margin: 0 auto;
    color: #701586;
    background: #E6F7D5;
    border: 5px double #701586;
    min-height: 30vh;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    cursor: copy;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .dragover {
    border: 4px dashed #701586;
  }

}
