#uploads{
  .button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
  }

  .drop-box {
    background: #F8F8F8;
    border: 5px double #DDD;
    width: 500px;
    height: 100px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
  }

  .dragover {
    border: 5px dashed blue;
  }

  .uploader-drop-zone {
    /* Static height drop zone that also contains the file list, with a border */
    height: 300px;
    border: dashed 1px lightgrey;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;

    /* Make the drop zone scollable */
    overflow-y: scroll;
  }

  .drop-zone-text {
    /* Vertically & horizontally center the dynamically generated drop zone message
    inside the drop zone & make it a bit presentable */
    position: absolute;
    vertical-align: middle;
    line-height: 300px;
    font-size: 200%;
    width: 100%;
    left: 0;
  }

}
