<form class="" name=""
      ng-submit="">
  <p>Update Your Profile</p>
  <button type="submit" class="">Update My Profile!</button>
  <!-- <div>{{accountComms.msg}}</div> -->
  <div class="">
    <label for="">User Email Address</label>
    <input type="text" class="" id="" ng-model="" placeholder="email">
  </div>
  <div>
    <label for="">Username</label>
    <input type="text" class="" id="" ng-model="" placeholder="user name">
  </div>  
  <div>
    <label for="">User Password</label>
    <input type="text" class="" id="">
  </div>
</form>