* {
  box-sizing: border-box;
}

html, body, #primary-ui-view {
	height: 100%;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'conferences/main';
@import 'projector-view/main';