* {
  box-sizing: border-box;
}

html, body, #primary-ui-view {
	height: 100%;
  background-color: #E6F7D5;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.fade-out {
    -moz-transition: opacity 0.7s linear;
    -o-transition: opacity 0.7s linear;
    -webkit-transition: opacity 0.7s linear;
    transition: opacity 0.7s linear;
}

.presentation-placeholder{
  margin-top:10px;
  display: inline-block;
  float: left;

}

.presentation-thumb{

    display: inline-block;
    width: 124px;
    height: 110px;
    float: left;
    margin-top: 10px;
    margin-bottom:25px;
    border-radius: 0px;

}

.presentation-img{
  width: 122px;
  height: 110px;
  margin-right:6px;
}

#sortable-container {
    display: inline-block;
}

.fade-out.fadedOut {
    opacity: 0;
}

.fade-in{
  opacity:100;
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'conferences/main';
@import 'projector-view/main';
@import 'uploads/main';
@import 'locales/main';