#admin-dashboard {
	#conference-name {
		font-size: 32px;
		margin-top: 5px;
	}
	.form-control-lg {
		font-size: 32px;
		height: auto;
		width: 95%
	}
	.form-control-sm {
		width: 90%;
	}
	
	ul {
		list-style: none;
		padding-left: 0;
	}

	#timeline-ul {
		border-style: inset;
		min-height: 22vh;
		background-color: white;
		padding: 10px;
	}
	#default-message {
		//color: #d1e3fd;
	}

	.delete-item {
		color: #333;
	}

	.as-sortable-item, .as-sortable-dragging, .as-sortable-drag {
		border-radius: 4px;
		padding: 4px;

	}
	hr {
		margin-top: 5px;
	}
	.current-item {
		color: red;
		border-color: red;
	}

	.admin-panel {
		background-clip: padding-box;
    	border: 10px solid transparent;
		background-color: #B8B8B8;
		padding-bottom: 10px;
		min-height: 40vh;
		.admin-panel-h3 {
			font-size: 14px;
			margin-bottom: 5px;
			margin-top: 0;
			font-weight: bold;
		}
	}
	.admin-panel-header {
		background-color: #333;
		color: #d1e3fd;
		margin-bottom: 10px;
	}
}

#projector-preview img {
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: 4px;
}

#conference-edit-icon {
	font-size: 14px;
}
#conference-update-icon {
	font-size: 14px;
	padding: 0;
}
