#admin-dashboard ul {
	list-style: none;
	padding-left: 0;
}

#projector-preview img {
	max-width: 100%;
	height: auto;
	display: block;
}

#projector-view img {
 	max-width: 100%;
	height: auto;
	display: block;	
	margin: 0 auto;
    vertical-align: middle;
}