<button class="btn" ng-click="showCreateForm()">Create New Presentation</button>
<button class="btn" ng-click="deletePresentations()">Delete Selected Presentations</button>
<form ng-show="creating" 
      name="createForm" 
      ng-submit="createForm.$valid && createPresentation(selectedConference)">
	<input type='text' ng-model="newPresentation.title" required placeholder="Enter Presentation Title"/>
<!-- 	<select ng-model="selectedLocale" 
        ng-options="x.v as x.v for x in [{v:1},{v:2},{v:3}]">
	</select> -->
	<h5>worldwide conferences</h5>
	<select ng-model="selectedConference" 
        ng-options="conf._id as conf.name for conf in conferenceOptions">
	</select>
	<button type="submit" class="btn" ng-disabled="createForm.$invalid">Create!</button>
	<button type="submit" class="btn" ng-click="closeCreateForm()">Cancel</button>
</form>
<div class="row">
	<div class="col-md-12">
		<ul class="list-unstyled">
			<li ng-repeat="presentation in presentations | orderBy: 'title'">
			{{$index + 1}})
			<input type="checkbox" ng-model='checkboxModel[presentation._id]'>
				<a ng-click="displayPresentationMedia(presentation._id)">
					{{presentation.title}}
				</a>
			</li>
		</ul>
	</div>
	<div class="col-md-12" ng-if="presentationMedia">
		<button class="btn" ng-click="savePresentation()">Save Presentation</button>

		<div class="row">
			<ul class="list-unstyled" as-sortable="sortableOptions" ng-model="presentationMedia">
				<li class="presentation-thumb presentation-a-s" ng-repeat="media in presentationMedia" as-sortable-item> 
					<div as-sortable-item-handle>
						<a data-no-drag ng-click="removeCard($index)">
							<span class="glyphicon glyphicon-remove"></span>
							<span>{{$index+1}}</span>
						</a>	
						<img src="{{ media.url }}" class="my-presentation-slide presentation-thumb">			
					</div>					
				</li>
			</ul>
		</div>
	</div>
</div>
