<button class="btn" ng-click="showTitleForm()">Create New Presentation</button>
<form ng-show="creating" name="titleForm" ng-submit="titleForm.$valid && createPresentation(newPresentation)">
	<input type='text' ng-model="newPresentation.title" required placeholder="Enter Presentation Title"/>
	<button type="submit" class="btn" ng-disabled="titleForm.$invalid">Create!</button>
	<button type="submit" class="btn" ng-click="creating = false">Cancel</button>
</form>
<div class="row">
	<div class="col-md-12">
		<ul class="list-unstyled">
			<li ng-repeat="presentation in presentations | orderBy: 'title'">
				{{$index}})
				<a ng-click="displayPresentationMedia(presentation._id)">
					{{presentation.title}}
				</a>
			</li>
		</ul>
		<!-- <div id='#board'> -->
	</div>

	<div class="col-md-12" ng-if="presentationMedia">
		<button class="btn" ng-click="savePresentation()">Save Presentation</button>

		<ul class="list-unstyled" as-sortable="sortableOptions" ng-model="presentationMedia">
			<li ng-repeat="media in presentationMedia" as-sortable-item > 
				<div as-sortable-item-handle>
					{{media.url}}
					<!-- <img src='{{media.url}}'/> -->
					<a data-no-drag ng-click="removeCard($index)">
						<span class="glyphicon glyphicon-remove"></span>
					</a>				
				</div>					
			</li>
		</ul>
	</div>
</div>