<div class="row">
	<div class="col-md-12">
		<ul class="list-unstyled">
			<li ng-repeat="presentation in presentations">
				<a ng-click="setPresentationMedia(presentation._id)">
					{{presentation.title}}
				</a>
			</li>
		</ul>
	</div>

	<div class="col-md-12" ng-if="presentationMedia">
		<button class="btn" ng-click="savePresentation()">Save Presentation</button>

		<div class="row">
			<ul class="list-unstyled" as-sortable="sortableOptions" ng-model="presentationMedia">
					<li class="col-md-2" ng-repeat="media in presentationMedia" as-sortable-item> 
						<div as-sortable-item-handle>
							<img src="{{ media.url }}" class="my-presentation-slide">
							<a data-no-drag ng-click="removeCard($index)">
								<span class="glyphicon glyphicon-remove"></span>
							</a>				
						</div>					
					</li>
			</ul>
		</div>
	</div>
</div>